* {
  box-sizing: border-box;
}

body{
  font-family: Futura, Arial, Helvetica, sans-serif;
  color: #000;
}

h1{
  color: #0018A4;
  font-size: 64px; 
}

main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  
  padding: 8px 16px; 
  gap: 10px; 
}

h3{
text-align: left;
font-size: 22px;
}

.sort-section{
  gap: 50px;
}

.filter-sort-section{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.random-button{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 50px;
  background: #FF6589;
  color: #FFFF;
  text-align: center;
  font-size: 18px;
  border: none;
  width: 280px;
}

.filter-h3{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.filter-section{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.filter-button{  
  border-radius: 50px;
  background: #CCFFE2;
  color: #0018A4;
  text-align: center;
  font-size: 18px;
  border: none;
  font-family: inherit 
}

input{
  display: none; 
}

.filter-button-select{  
  background: #0018A4;
  color:  #FFF;
} 

.sort-h3{
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.sort-section{
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.sort-buttons{  
  border-radius: 50px;
  background: #FFECEA;
  color: #0018A4;
  text-align: center;
  font-size: 18px;
  border: none;  
  padding: 1px 6px;
}

.sort-buttons-select{
  background: #FF6589;
  color: #FFF;
}

.recipe-cards{

  
}

#recipe-card{  
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(clamp(250px, 23%, 340px), 1fr));
  gap: .3em;
}

.recipe-card-img-content-common{
  row-gap: 32px;
  border: 2px solid #0018A4;
  background: #FFF;
  box-shadow: 0px 0px 30px 0px rgba(0, 24, 164, 0.20);
  border-radius: 16px;
  padding: 16px 16px 24px 16px;  

}

.recipe-card h2{ 
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: 1px solid #E9E9E9;
  
}

.recipe-card strong{
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;  
}

.recipe-card-content{
  display: flex;
  flex-direction: column; 
  gap: 16px; 
}

.recipe-card-image{
  /* width: 80%; */
  height: 200px;
  border-radius: 12px; 
  align-self: stretch; 
  background: lightgray;
 
}

.recipe-cards-common{
  border-bottom: 1px solid #E9E9E9;
}


/* Desktop Widescreen*/
@media (min-width: 769px) {
  .filter-sort-section{    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

 
  .filter-button:hover{
    border: 2px solid #0018A4;  
  }

  .sort-h3{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .sort-section{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }


  .sort-buttons:hover{
    border-radius: 50px;
    border: 2px solid #0018A4;
    background: #FF6589;
    color: #FFF;  
  }

  .recipe-card{
    border: none;
    box-shadow: none;
    border: 1px solid #E9E9E9;
  }

  .recipe-card:hover{
    border: 2px solid #0018A4;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 24, 164, 0.20);
    border-radius: 16px;
  }
}
